.hero__card{
  position: relative;
}

.hero__card .hero__img{
  width: 100%;
}

.hero__content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(2,0,36,0.938813025210084) 0%, rgba(64,83,98,0.6867121848739496) 31%, rgba(23,133,165,0) 50%, rgba(0,212,255,0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.hero__content__icon{
  height: 50px;
  width: auto;
}

@media (min-width: 768px){
  .hero__content__icon{
    height: 70px;
    width: auto;
  }
}

@media (min-width: 1280px){
  .hero__content__icon{
    height: 90px;
    width: auto;
  }
}